<%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>
    <!--Main Nav Navigation-->

    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4">&nbsp;<%= title %> Me</h1>
        <div class="container">
          <div class="row">
            <div class="col-4">

              <!-- Personal Photo  -->
              <img src="Assets/images/Photo.jpg" alt="Photo" class="photo-image">

              <!-- Name -->
              <p><i><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shiaw-Rong Lin</b></i></p>
            </div>
            <div class="col-8 about me" style="text-align: left;">

              <!-- Introduction -->
              <p>Motivated and hardworking Software Engineer ready to become a vital member of the next team I join. Working with a strong
                understanding of data structures and algorithms and complex problem-solving skills.
              </p>

              <a href="Assets/pdf/Sean_Resume_12_16_2022.pdf" download="Sean_Resume_12_16_2022.pdf">My Resume</a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!--<h1><%= title %></h1>-->
    <!--<p>Welcome to <%= title %></p>-->
    <!--Script section-->

    <%-include partials/bottom_nav.ejs%>
      <%-include partials/footer.ejs%>