<%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>
    <!--Main Nav Navigation-->


    <main class="container">
      <div class="jumbotron">
        <div class="d-flex flex-md-row flex-column mt-5 justify-content-center">
          <div class="flex-grow-1 w-md-100" style="max-width: 560px">
            <div>
              <h1 class="display-10">Welcome to the <%= title %> Page</h1>
            </div>
            <div class="project-style">
              <!-- Text and links -->
              <p class="display-8">Hi, I'm Shiaw-Rong Lin, a software engineer with a passion for delivering innovative solutions. I have extensive experience in software development and a track record of delivering high-quality work. I'm dedicated to constantly improving my skills and staying up-to-date with the latest technologies.</p>
            </div>

            <div>
              <a class="link" href="/about">To know about me</a>
            </div>
            <div>
              <a class="link" href="/projects">To know more about the projects</a>
            </div>
          </div>
        </div>
    </main>

    <!--<h1><%= title %></h1>-->
    <!--<p>Welcome to <%= title %></p>-->
    <!--Script section-->

    <%-include partials/bottom_nav.ejs%>
      <%-include partials/footer.ejs%>