<%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>
    <!--Main Nav Navigation-->

    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4 text-center">
          <%= title %>
        </h1>
        <div class="container project-style">
          <div class="row">

            <!-- Prjects and description -->
            <div class="col-5">
              <h1>Your Human is Sick</h1>
              <img src="Assets/images/yhs.png" alt="Photo" width="400">
              <p><b><a class="link" href="https://store.steampowered.com/app/1290510/Your_Human_is_Sick/">Play now on Steam!</a></b></p>
                <p><b>Published Title</b></p>
                <p><b>Mainly focused on development
                and Research</b></p>
            </div>

            <div class="col-5">
              <h1>Holier Than Thou</h1>
              <img src="Assets/images/htt.png" alt="Photo" width="400">
              <p><b><a class="link" href="https://play.google.com/store/apps/details?id=com.blackbansheestudios.holierthanthou">Play now on Google Play Store!</a></b></p>
                <p><b>Published Title</b></p>
                <p><b>Mainly Focused on Development</b></p>
            </div>

            <div class="col-5">
              <h1>Animal Running Royale</h1>
              <img src="Assets/images/ary.png" alt="Photo" width="400">
              <p><b>Side Project</b></p>
              <p><b>Infinite Tower Jumper</b></p>
              <p><b>In chargerd of Full Game Designed, UI Design and Development</b></p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!--<h1><%= title %></h1>-->
    <!--<p>Welcome to <%= title %></p>-->
    <!--Script section-->

    <%-include partials/bottom_nav.ejs%>
      <%-include partials/footer.ejs%>