<%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>
    <!--Main Nav Navigation-->

    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4 text-center">&nbsp;&nbsp;&nbsp;&nbsp;My <%= title %>
        </h1>
        <div class="container services-style">
          <!-- List of services -->

          <div>
            <img src="Assets/images/character.png" alt="Photo" class="photo-image-Auto">
            <p><b>Game Development</b></p>
          </div>

          <div>
            <img src="Assets/images/sd.jpg" alt="Photo" class="photo-image-Auto">
            <p><b>Software Development</b></p>
          </div>

          <div>
            <img src="Assets/images/pm.png" alt="Photo" class="photo-image-Auto">
            <p><b>Project Management</b></p>
          </div>

        </div>
      </div>
    </main>

    <!--<h1><%= title %></h1>-->
    <!--<p>Welcome to <%= title %></p>-->
    <!--Script section-->

    <%-include partials/bottom_nav.ejs%>
      <%-include partials/footer.ejs%>